{% extends 'books/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='container my-5'>
  <body>
    <h1 class="text-center pt-3">{{ request.user.username }}'s Profile</h1>
    <h2 class="text-center pb-3">Borrowing history report</h2>
  </body>

  <table class="table table-striped table-hover ">
    <thead class='table-dark'>
      <tr>
        <th scope="col">Book Id</th>
        <th scope="col">Book name</th>
        <th scope="col">Borrowing Price</th>
        <th scope="col">Balance after borrowing</th>
        <th scope="col">Borrowing date</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      {% for borrowed_book in borrowed_books %}
      <tr>
        <th scope="row">{{borrowed_book.book.id}}</th>
        <td>{{borrowed_book.book.title}}</td>
        <td>{{borrowed_book.book.borrowing_price}}</td>
        <td>{{borrowed_book.balance_after_borrowing}}</td>
        <td>{{borrowed_book.borrowing_date}}</td>
        
        {% if borrowed_book.is_returned  %}
        <td><button type="submit" class="btn btn-danger btn-sm" disabled>Book Returned</button></td>
        {% else %}
        <td>
          <form method="post" action="{% url 'return_book' borrowed_book.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger btn-sm">Return Book</button>
          </form>
      </td>
      {% endif %}

      </tr>
      {% endfor %}
    </tbody>
  </table>


  {% endblock %}
</div>